
.progress-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
	width: 30vw;
}

.dots-progress {
	position: relative;
	top: -10px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #ffffff;
	transform-origin: 5px 15px;
	animation: dotWindmill 2s infinite linear;
  }
  
  .dots-progress::before, .dots-progress::after {
	content: '';
	display: inline-block;
	position: absolute;
  }
  
  .dots-progress::before {
	left: -8.66px;
	top: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #ffffff;
  }
  
  .dots-progress::after {
	left: 8.66px;
	top: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #ffffff;
  }
  
  @keyframes dotWindmill {
	0% {
	  transform: rotateZ(0deg) translate3d(0, 0, 0);
	}
	100% {
	  transform: rotateZ(720deg) translate3d(0, 0, 0);
	}
  }